.box-approval {
  min-width: 530px;
  width: 28%;
  padding: 1%;
  height: 100vh;
  overflow: hidden;
  background-color: #e5e5e5;
  position: relative;

}

.box-list {
  overflow-x: hidden;
  overflow-y: auto;

  height: 70vh;
}

.legend {
  position: absolute;
    bottom: 0;
    width :100%;
    margin: 2%;
    /* height: 10vh; */
}

.request-changes-row {
  width :100%;
  margin: 1% 1% 1% 1%;
}

.relocate-box-row {
  width :100%;
  margin: 1% 1% 1% 1%;
}

.pickup-box-row {
  width :100%;
  margin: 1% 1% 1% 1%;
  /* position: absolute;
    bottom: 0; */
}

.request-changes-icon {
  float:left;
  margin-right:4%;
}

.relocate-box-icon {
  float:left;
  margin-right:4%;
}

.pickup-box-icon {
  float:left;
  margin-right:4%;
}

.request-changes-text {
  text-align: left;

}

.relocate-box-text {
  text-align: left;
}

.pickup-box-text {
  text-align: left;
}
