.box-approval {
  width: 100%;
  padding: 1%;
  height: 95vh;
  background-color: #e5e5e5;
  position: relative;
}

.box-list {
  overflow-x: hidden;
  overflow-y: scroll;
  height: 75vh;
}

.legend {
  background-color: #e5e5e5;
  width: 100%;
  margin-left: 5%;
  height: 100px;
  padding-top: 4%;
  position: sticky;
  bottom: 0;
}

.request-changes-row {
  display: flex;
  width: 100%;
  margin: 1% 1% 1% 1%;
}

.relocate-box-row {
  width: 100%;
  margin: 1% 1% 1% 1%;
}

.pickup-box-row {
  width: 100%;
  margin: 1% 1% 1% 1%;
}

.request-changes-icon {
  width: 25px;
  float: left;
  margin-right: 4%;
  color: #dd6b20;
}

.relocate-box-icon {
  width: 25px;
  float: left;
  margin-right: 4%;
}

.pickup-box-icon {
  width: 25px;
  float: left;
  margin-right: 4%;
}

.request-changes-text {
  text-align: left;
}

.relocate-box-text {
  text-align: left;
}

.pickup-box-text {
  text-align: left;
}
