.navigation-bar-container {
  height: 65px;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.22);
}

.sub-header {
  position: relative;
  display: flex;
  justify-content: space-between;
  top: 25px;
}

.share-registration-box {
  position: relative;
  left: 34px;
}

.logout-button {
  position: relative;
  right: 53px;
}

.welcome-header {
  position: relative;
  display: flex;
  left: -40px;
  top: -10px;
  justify-content: center;
  align-items: center;
  font-family: 'Bebas Neue';
  font-style: normal;
  font-weight: normal;
  font-size: 55px;
  line-height: 66px;
  color: #173848;
}

.fya-logo-large {
  position: relative;
  display: flex;
  top: 22px;
  justify-content: center;
  align-items: center;
}

.profile-name {
  display: flex;
  justify-content: space-between;
}

.background-box {
  position: relative;
  width: 1027px;
  height: 498px;
  top: 43px;
  background-color: #eaeaea;
  border-radius: 12px !important;
  margin-left: 262px;
  margin-right: 191px;
  margin-bottom: 113px;
}

.pen-image {
  position: absolute;
  top: 17px;
}

.first-name-container {
  margin-top: 34px;
  margin-left: 22px;
  font-weight: bold;
  font-size: 27px;
}

.first-input-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  left: 50px;
}

.last-name-container {
  position: absolute;
  right: 262px;
  margin-top: 36px;
  margin-right: 58px;
  font-weight: bold;
  font-size: 27px;
}

.last-input-container {
  position: absolute;
  display: flex;
  justify-content: space-between;
  left: 5px;
}

.email-container {
  position: absolute;
  display: flex;
  left: 58px;
  top: 198px;
  font-weight: bold;
  font-size: 27px;
}

.email-input-container {
  position: absolute;
  display: flex;
  justify-content: space-between;
  left: 40px;
  top: 44px;
}

.pen-image {
  position: relative;
  left: 16px;
}

.delete-account-button {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  left: 419px;
  right: 418px;
  top: 358px;
}
