.sub-header {
  position: relative;
  display: flex;
  justify-content: space-between;
  top: 25px;
  margin: 0em 2em;
}

.welcome-header {
  position: relative;
  display: flex;
  left: -40px;
  top: -10px;
  justify-content: center;
  align-items: center;
  font-family: 'Bebas Neue';
  font-style: normal;
  font-weight: normal;
  font-size: 55px;
  line-height: 66px;
  color: #173848;
}

.fya-logo-large {
  position: relative;
  display: flex;
  top: 22px;
  justify-content: center;
  align-items: center;
}

.profile-name {
  display: flex;
  justify-content: center;
  gap: 5em;
  margin: 1.75em 0em;
}

.background-box {
  width: 1027px;
  height: 498px;
  background-color: #eaeaea;
  border-radius: 12px !important;
  margin: 3em auto 5em auto;
  padding: 0em 4em;
  display: flex;
  flex-direction: column;
}

.first-name-container {
  font-weight: bold;
  font-size: 27px;
}

.name-input-container {
  gap: 0.65em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.last-name-container {
  font-weight: bold;
  font-size: 27px;
}

.email-container {
  display: flex;
  font-weight: bold;
  font-size: 27px;
  flex-direction: column;
  margin: 1.75em 0em;
  gap: 0em;
}

.email-input-container {
  display: flex;
  justify-content: flex-start;
}

.pen-image {
  left: 16px;
}

.delete-account-button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  margin-top: 2em;
}
