.error-modal-icon {
  width: 80px;
  height: 80px;
  background: url(../../../assets/error.png) no-repeat center center; 
  background-size: 100%;
  text-align: center;
  margin: 0 auto;
  padding-top: 30px;
}

.error-modal-text {
  font-weight: 700;
  font-size: 1.5rem;
}

.error-modal-buttons {
  display: flex;
  gap: 30px;
}

.error-modal-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  position: absolute;
  top: 15%;
}

.error-modal-file-name {
  color: rgb(0, 183, 255);
}

.error-modal-message {
  color: rgb(206, 0, 0); 
  font-weight: 600;
  font-style: italic;
}

.error-modal-errors {
  height: 100px;
  overflow: scroll;
  overflow-x: hidden;
  padding: 0 20px;
}