.header {
  width: 100%;
  padding: 0 10% 0 5%;
}

.box-info .close-button {
  float: right;
  color: red;
  width: 13px;
  cursor: pointer;
}

.box-info {
  width: 100%;
  /* height: 95vh; */
  background-color: white;
  padding-bottom: 20px;
}

.back-button {
  cursor: pointer;
}

.title {
  margin-left: 10%;
}

.box-data {
  width: 100%;
  /* height: 100%; */
  /* background-color: white; */
  padding: 0% 15% 0% 15%;
}

.back-button {
  float: left;
}

.form-label {
  margin-top: 5%;
}

.history-div {
  margin-top: 5%;
}

.image-corners {
  border-radius: 10px;
}

.box-info .box-number {
  font-weight: bold;
}

.button-div {
  bottom: 0;
  float: right;
}

ul {
  counter-reset: list;
  border-left: 2px solid lightgrey;
  margin: 1em;
  padding: 0;
}

ul li {
  list-style: none;
  margin: 0 0 0.5em 0;
  padding: 0;
}

ul li:before {
  display: inline-block;
  width: 1.2em;
  height: 1.2em;
  margin: 0 0.5em 0 -0.65em;
  border-radius: 50%;
  content: '';
  text-align: center;
  background: white;
  border: 1px solid black;
  counter-increment: list;
}

.history-graph {
  background-color: white;
  width: 100%;
  margin-left: 10px;
}
