.csv-form-wrapper {
  flex-basis: 42%;
  width: 100%;
  margin: 1.4em 0em 1.4em;
}

.csv-form-wrapper #export-csv-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.csv-form-wrapper .section-wrapper {
  width: 400px;
}

.section-wrapper.filter-label-select {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.filter-label-select .input-drop-down {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 170px;
  gap: 5px;
}

.filter-label-select .organically-radio-group {
  width: 170px;
  display: flex;
  justify-content: space-between;
}

.input-drop-down .date-picker {
  font-size: var(--chakra-fontSizes-md);
  height: 2.5rem;
  width: 170px;
  border: 1px solid rgb(226, 232, 240);
  border-radius: 0.375rem;
  padding-left: 1rem;
}

.input-drop-down .date-range {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.date-range .date-range-label {
  font-size: 14px;
  color: #9C9C9C;
}

.csv-form-wrapper .filter-section-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.filter-section-wrapper .filter-option-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.filter-option-wrapper .filter-choices {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.filter-choices .custom-input {
  display: none;
}

.filter-choices .custom-input.active {
  display: block;
}

.section-wrapper .box-detail-checkboxes {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100px;
}

.section-wrapper .box-detail-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.csv-form-wrapper .csv-form-labels {
  font-size: 20px;
  font-weight: 500;
}
