:root {
    --text-gray-color: #808080;
}

* {
    box-sizing: border-box;
}

.boxForm {
    display: flex;
    flex-direction: column;
    margin: 20px 50px;
}

.boxForm>div {
    margin-bottom: 20px;
}

.boxForm input {
    color: var(--text-gray-color);
}

/* box info (date, box number, zip code) */
.boxForm div.boxInfo {
    display: grid;
    grid-template-columns: repeat(3, minmax(100px, 1fr));
    grid-gap: 2rem;
}

.boxForm .boxInfo input {
    width: 100%;
}

/* box location */
input[id="location"] {
    width: 100%;
}

/* box description (message and attach photo) */
.boxForm .boxDescription {
    display: grid;
    grid-template-columns: repeat(2, minmax(100px, 1fr));
    grid-gap: 2rem;
}

textarea[id="message"] {
    width: 100%;
    resize: none;
    color: var(--text-gray-color);
}

/* checkbox */
span.chakra-checkbox__control {
    background-color: #eee;
}

.infoIcon {
    margin-bottom: 2px;
    position: relative;
}

.infoIcon:hover .tooltiptext {
    visibility: visible;
}

.infoIcon .tooltiptext {
    visibility: hidden;
    width: 200px;
    border-radius: 5px;
    text-align: center;
    background-color: #F4F4F4;
    color: black;
    padding: 5px;
    font-size: 0.7rem;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.3);
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -150px;
}

.infoIcon .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 70%;
    margin-left: -5px;
    border-width: 10px;
    border-style: solid;
    border-color: #F4F4F4 transparent transparent transparent;
}

.boxLaunched .chakra-form-control {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 10px;
}

.boxLaunched label {
    margin: 0;
}

/* buttons */
.boxBottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.boxBottom small {
    color: var(--text-gray-color);
}

.boxButtons {
    display: flex;
    column-gap: 10px;
}