.admin-dashboard-container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.admin-nav-bar {
  height: 5vh;
}

.side-bar-and-map-container {
  padding: 0px;
  display: flex;
}

.side-bar {
  height: 95vh;
  width: 20vw;
}

.map {
  height: 95vh;
  width: 80vw;
}
