.export-csv-container {
  padding: 50px;
  height: 100vh;
  width: 100vw;

  display: flex;
  gap: 100px;
}

.left-column {
  flex-basis: 0;
  flex-grow: 3;
}

.right-column {
  height: 100%;
  width: 100%;
  min-width: 500px;

  display: flex;
  flex-basis: 0;
  flex-grow: 2;
  flex-direction: column;
  gap: 50px;
}

.two-text-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.option-header {
  font-size: 30px;
  font-weight: 500;
}

.filter-options {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.filter-names {
  font-size: 23px;
}

.checkboxes {
  display: flex;
  justify-content: space-between;
}

.drop-option {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 5px;
}

.custom-date {
  display: flex;
  gap: 10px;
}

.date-label {
  color: #718096;
}

div[className=checkboxes] label {
  font-size: 100px;
}

.checkbox-message {
  font-size: 20px;
}

label input {
  margin-right: 15px;
}

input[type=checkbox] {
  transform: scale(1.25)
}

.button-section {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
}

select{
  font-size: 20px;
}
