.export-csv-container {
  height: 100vh;
  width: 100vw;
  padding: 20px;

  display: flex;
  overflow: hidden;
  gap: 60px;
}

.right-column {
  padding: 5px 20px 5px 5px;
  height: 100%;
  width: 100%;
  min-width: 400px;

  display: flex;
  overflow-y: auto;
  flex-direction: column;
  gap: 40px;
}

.two-text-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.option-header {
  font-size: 30px;
  font-weight: 500;
}

.filters {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.filter-options {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.filter-names {
  font-size: 23px;
}

.checkboxes {
  display: flex;
  justify-content: space-between;
}

.drop-option {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 5px;
}

.custom-text {
  font-size: 20px !important;
  width: 300px !important;
}

.custom-range-boxes {
  display: flex;
  justify-content: space-between;
  width: 300px;
}

.custom-range {
  font-size: 20px !important;
  width: 140px !important;
}

.error-message {
  font-size: 13px;
  color: #E53E3E;
}

.date-label {
  color: #718096;
}

div[className=checkboxes] label {
  font-size: 100px;
}

.checkbox-message {
  font-size: 20px;
}

label input {
  margin-right: 10px;
}

input[type=checkbox] {
  transform: scale(1.25)
}

.button-section {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
}

select{
  font-size: 20px;
}
