:root {
  --text-gray-color: #808080;
}

* {
  box-sizing: border-box;
}

.box-form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  gap: 20px;
}

.box-form-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 70px;
}

.left-column, .right-column {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 400px;
}

/* textarea section */
.chakra-textarea {
  resize: none;
}

/* box image section */
.box-image-container {
  width: 100%;
  height: 100%;
  margin-bottom: 5px;
  height: 235px;
}

.box-image-container img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

/* launched organically checkbox */
span.chakra-checkbox__control {
  background-color: #eee;
}

.launch-org-radio {
  padding-left: 30px;
}

.info-icon {
  margin-bottom: 2px;
  position: relative;
}

/* tooltip */
.info-icon:hover .tooltiptext {
  visibility: visible;
}

.info-icon .tooltiptext {
  visibility: hidden;
  /* tooltip styling */
  width: 200px;
  border-radius: 5px;
  text-align: center;
  background-color: black;
  color: white;
  padding: 5px;
  /* position the tooltip */
  font-size: 0.7rem;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.3);
  position: absolute;
  z-index: 1;
  top: 150%;
  left: 50%;
  margin-left: -105px;
}

.info-icon .tooltiptext::after {
  content: '';
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}

.box-launched-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 10px;
}

.box-launched-section label {
  margin: 0;
}

.box-buttons {
  margin-left: 72%;
}
