.popup-box {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 20%;
  right: 20%;
  top: 20%;
  margin: auto;
  border-radius: 5px;
  background: gray;
  padding: 30px;
  z-index: 99999;
}

.close-popup-icon {
  cursor: pointer;
  position: absolute;
  left: 97%;
  top: 5%;
  /* left: 20%;
  right: 20%;
  top: 20%; */
}