.content-wrapper {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.title {
  font-weight: 700;
  font-size: 18px;
}

.buttons {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

@media screen and (max-width: 768px) {
  .buttons {
    width: 80%;
    align-self: center;
    flex-direction: column;
    padding-bottom: 20px;
  }

  .delete-last-transaction-button,
  .delete-entire-box-button {
    margin-top: 15px;
  }
}
