.content-wrapper {
  height: 196px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.title {
  font-weight: 700;
  font-size: 18px;
}

.buttons {
  display: flex;
  width: 100%;
  justify-content: space-around;
}
