.nav-bar {
  height: 100%;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.22);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.75em;
}

.navbar-buttons-and-account {
  gap: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-buttons {
  font-size: 18px;
  gap: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.upload-button {
  font-size: 18px !important;
  font-weight: 400 !important;
}

.navbar-initials {
  height: 48px;
  width: 48px;
  border-radius: 50%;
  background-color: #3182ce;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}

.nav-link-unselected {
  color: black;
  text-decoration: none;
}

.nav-link-selected {
  color: #126893;
}
