.edit-icon {
  color: gray !important;
  width: 15px;
  height: 15px;
}

.delete-icon {
  color: gray !important;
  width: 20px;
  height: 20px;
}

.green-check-icon {
  color: green !important;
  width: 13px;
  height: 10px;
}

.red-cross-icon {
  color: red !important;
  width: 10px;
  height: 10px;
}

.green-check-icon,
.red-cross-icon {
  position: absolute;
  left: 70px;
  top: 40%;
}

.csv-error td {
  border-top: 1px solid red;
  border-bottom: 1px solid red;
}

.csv-error td:last-child {
  border-right: 1px solid red;
}

.csv-error td:first-child {
  border-left: 1px solid red;
}
