.edit-icon {
  width: 15px;
  height: 15px;
}

.delete-icon {
  width: 20px;
  height: 20px;
}

.green-check-icon {
  width: 13px;
  height: 10px;
}

.red-cross-icon {
  width: 10px;
  height: 10px;
}