.box-form-confirmation-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 15%;
}

.confirmation-text,
.confirmation-message {
  margin-top: 3%;
  text-align: center;
  width: 60%;
}

.confirmation-check-circle {
  font-size: 125px;
}

.confirmation-button {
  margin-top: 5%;
}

@media screen and (max-width: 768px) {
  .box-form-confirmation-page {
    display: flex;
    margin-top: 35%;
  }

  .confirmation-text {
    margin-top: 15%;
  }

  .confirmation-button {
    position: fixed;
    bottom: 0px;
    margin-bottom: 10%;
  }

  .confirmation-message {
    margin-left: 10%;
    margin-right: 10%;
  }
}
