.checkbox {
  background-color: white;
  transform: scale(1.2);
}

.edit-row input {
  width: 200px;
  height: 35px;
  background-color: white;
}

.edit-row .input-right-warning {
  color: red;
  position: absolute;
  top: -3px;
  right: 25px;
}

.check-icon {
  width: 20px;
  height: 15px;
}
