.register-form-container {
  width: 100%;
}

.register-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.register-button {
  background-color: #345e80 !important;
  color: white;
  align-self: flex-end;
}

.google-register-button {
  background-color: #345e80 !important;
  color: white;
  float: right;
  margin-top: 2%;
}

.form-heading {
  padding-bottom: 5%;
}
