.register-form-container {
  width: 100%;
}

.register-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.register-button {
  width: 100% !important;
  background-color: #345e80 !important;
  color: white;
  align-self: flex-end;
}

.google-register-button {
  width: 100% !important;
  background-color: white !important;
  border: 1px solid #345e80;
  color: #345e80;
  float: right;
  margin-top: 2%;
}

.form-heading {
  padding-bottom: 5%;
}

.google-icon {
  margin-right: 1%;
}
