.csv-row {
  background-color: #EFEFEF;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 20px;
  padding: 20px;
  gap: 10px;
  height: 70px;
}

.csv-row p, .csv-row input, .csv-header-row th {
  width: 200px;
}

.csv-row input {
  height: 40px;
  background-color: white;
}

.csv-header-row {
  display: flex;
  justify-content: space-evenly;
  /* margin-left: 50px; */
  text-align: left;
  padding: 20px 20px 0px 60px;
  margin-bottom: -10px;
  margin-left: 100px;
  gap: 100px;
}

.csv-header-row th {
  font-weight: 500;
}