.scrollable-div {
  overflow-y: overlay;
  max-height: 50%;
}
.scrollable-div::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}
.scrollable-div::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(78, 73, 73, 0.5);
  box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}

.csv-table-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-height: 80vh;
}

.csv-table {
  border-collapse: separate;
  width: 100%;
  border-spacing: 0px 20px;
}

.csv-table th,
.csv-table td {
  text-align: left;
  padding: 0 8px;
  width: 300px;
}

.csv-table td {
  position: relative;
  padding: 8px;
  height: 80px;
  background-color: #efefef;
}

.csv-table th:first-child {
  padding-left: 20px;
}

.csv-table td:first-child {
  padding-left: 20px;
}

.csv-table th {
  background-color: none;
  font-weight: 500;
}

.csv-table-form {
  display: flex;
  gap: 5px;
}

.csv-table-form td:last-child {
  display: flex;
  /* justify-content: space-evenly; */
  gap: 20px;
}

.csv-table-form * {
  font-size: 1rem;
}