.forgot-password-form-container {
  width: 100%;
}

.forgot-password-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.send-email-button {
  background-color: #345e80 !important;
  color: white;
  align-self: flex-end;
}

.action-panel {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.return-to-login-link {
  align-self: flex-start;
  background-color: white;
  color: #345e80;
  font-weight: bold;
  text-decoration: underline;
}

.return-to-login-button {
  align-self: flex-start;
  background-color: white;
  background: #ffffff;
  border: 1px solid #345e80;
  box-sizing: border-box;
  border-radius: 6px;
}

.form-heading {
  padding-bottom: 5%;
}

.info-text {
  padding-bottom: 5%;
  text-decoration: underline;
}
