.forgot-password-form-container {
  width: 100%;
}

.forgot-password-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.send-email-button {
  background-color: #345e80 !important;
  color: white;
  align-self: flex-end;
}

.forgot-password-form-button-group {
  display: flex;
  justify-content: space-between;
}

.return-to-login-link {
  align-self: flex-start;
  background-color: white;
  color: #345E80;
  font-weight: bold;
}

.form-heading {
  padding-bottom: 5%;
}
