.box {
  padding: 0px 15px 15px 15px;
  margin-top: 15px;
  border-radius: 10px;
  background-color: #c4c4c4;
}

.boxHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.boxHeaderInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 15px 0px;
}

.boxHeaderInfo h3,
.boxHeaderInfo p {
  margin: 0;
}

.boxDetails {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0;
}

.boxDetails p {
  margin: 0;
}

.boxHeaderButtons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 25%;
}

.reviewButton {
  background: none;
  border: 2px solid black;
  border-radius: 50%;
  cursor: pointer;
  padding: 10px;
}
