.box {
  padding: 0px 15px 15px 15px;
  margin-top: 15px;
  border-radius: 10px;
  background-color: white;
}

.boxHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.boxHeaderInfo {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: flex-start;
  margin: 15px 0px;
}

.boxHeaderInfo h3 { 
  font-style: normal;
  font-size: 16px;
  font-weight: bold;
  line-height: 24px;
  display: flex;
}

.boxHeaderInfo h3,
.boxHeaderInfo p {
  margin: 0;
}

.boxDetails {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0;
}

.boxDetails p {
  margin: 0;
}

.boxHeaderButtons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 25%;
}

.reviewButton {
  background: none;
  border: 2px solid black;
  border-radius: 50%;
  cursor: pointer;
  padding: 10px;
}
