.profile-page-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 30em;
  margin: 0 auto;
}

.top-buttons {
  width: 100%;
  display: flex;
  align-items: flex-start;
}

.profile-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 2.5vh 0;
  padding: 3.5vh 4vw;
  border: 2px solid #E2E8F0;
  border-radius: 22px;
}

.fya-logo-large {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  width: 16vw;
  margin: 1.25em 0;
}

.form-input {
  width: 100%;
  margin-top: 2.2vh;
  font-size: 18px;
  font-weight: bold;
}

.editable-input {
  gap: 0.65em;
  display: flex;
  align-items: flex-end;
}

.bottom-buttons {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 2em;
}
