@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Inter', sans-serif !important;
  color: black !important;
  margin: 0;
  padding: 0;
}

input,
textarea,
button {
  font-family: inherit;
}
