.page-container {
  display: flex;
  flex-direction: row;
  min-height: 100%;
}

.reset-password-form {
  flex: 1;
}

.reset-password-container {
  height: 100%;
  padding: 1% 2%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.banner {
  flex: 1;
  background-color: #345e80;
}

.logo-container {
  width: 100%;
}

.reset-password-form-component {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
