:root {
  --dropzone-color: #fafafa;
}
.dropzone-zone {
  text-align: center;
  padding: 55px;
  height: 235px;
  border-radius: 5px;
  border-width: 2px;
  border-style: solid;
  border-color: #b9b9b9;
  background-color: var(--dropzone-color);
  color: #b9b9b9;
}

.dropzone-accept {
  border-color: #00e676;
}

.dropzone-reject {
  border-color: #ff1744;
}

.dropzone-text {
  color: black;
}
.dropzone-support-text {
  font-size: 0.8rem;
}

.dropzone-icon {
  /* width: 80px;
  height: 80px; */
  /* margin-bottom: 20px; */
  margin-left: 100px;
}

.fileSelector {
  border: none;
  background-color: transparent;
  color: black;
  text-decoration: underline;
  font-size: 1rem;
  cursor: pointer;
}

.files-list {
  list-style-type: none;
  padding: 0;
}

.file-item-span-text {
  margin-left: 20px;
}
